.mainwp {
	margin-top:10px;
}
#mainleft {
	width:500px; 
	float:left;
}
#inswpemptyuser {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Kaushan Script', cursive;
    color: #999;
}
#imgemptyuser {
	border-radius: 0;
    box-shadow: 0 0;
}
#border {
	border:#555; 
	border-style:solid; 
	width:500px; 
	padding-left:20px; 
	border-width:1px;
}
#tlogin {
	margin:-25px 0 0 0; 
	position:absolute; 
	background:#FFF;
	width:60px; 
	padding-left:10px;
}
#tconf {
	margin:-25px 0 0 0; 
	position:absolute; 
	background:#FFF;
	width:145px; 
	padding-left:10px;
}
.inswpcontent {
	line-height: 1.5;
	word-wrap: break-word;
	box-sizing:content-box;
    -moz-box-sizing:content-box;
}
#tpost {
	margin:-25px 0 0 0; 
	position:absolute; 
	background:#FFF;
	width:45px; 
	padding-left:10px;
}
#mainrigth {
	width:300px; 
	float:right;
}
#inswbox {
	width:100%;
	height:100%;
	background-color:#fff;
	position:fixed; 
	top: 0;
    left: 0;
	display:none;
	opacity: 0.8;
	z-index:99999;
}
.tabinswp {
    width:100%;
	margin:2px 0 15px 0;
	float:left;
	padding:5px;
	position: relative;
}
#iprof {
	float:left;
	width:150px;
}
img#bprof {
	border-width:5px;
	border-color:#FFF;
	border-style:solid;
	float:left;
	width: 35px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin-right: 5px;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
}

img#bproflikes {
    border-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 5px;
    float: left;
    margin-left: 10px;
    width: 35px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
#bmff {
	background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 3px;
    float: right;
    font-size: 11px;
    height: 33px;
    margin: 2px 0 0 5px;
    text-align: center;
    width: 60px;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
	padding:1px;
}
#ftab {
    font-size:11px;
	margin: 0;
	font-weight:bold;
}
#fnuser {
	color:#FFF;
	text-shadow:1px 1px 1px #000;
	font-weight:bold;
	font-size:12px;
	float: left;
	width: 50%;
}
#fnbio {
	font-size:12px;
	margin: 20px 0 0 0;
}
#linkweb {
	font-size:12px;
}
.inswpcontent img {
    box-shadow: 0 0;
	max-width:100%;
}
img#base{
    border-radius: 0;
    box-shadow: 0 0;
}
a.tooltip {outline:none;text-decoration:none;}
a.tooltip img {
    border-radius: 0;
    box-shadow: 0 0;
}
a.tooltip strong {line-height:30px;}
a.tooltip > span#inswptiptitle {
	    padding: 10px 20px;
	    margin-top: -20px;
	    margin-left: -20px;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 10;	   
	    position: absolute;

	    font-family: Arial;
	    font-size: 12px;
	    font-style: normal;  
        	    
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;	
		-webkit-transition-property:opacity, margin-top, visibility, margin-left;
	    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
		-moz-transition-property:opacity, margin-top, visibility, margin-left;
	    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -o-transition-property:opacity, margin-top, visibility, margin-left;
	    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    transition-property:opacity, margin-top, visibility, margin-left;
	    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
/*a.tooltip > span:hover,*/
a.tooltip:hover > span#inswptiptitle{
		opacity: 1;
		text-decoration:none;
		visibility: visible;
		overflow: visible;
		margin-top:20px;
		display: inline;
		margin-left: 0px;		
}
    
a.tooltip > span#inswptiptitle {
	   color: #FFFFFF;
	   background: #000000;
	   background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
	   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000));
	   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
	   border: 1px solid #000000;	     
    }   
a.tooltip > span#inswptipvideotitle 
    {
	    padding: 10px 20px;
	    margin-top: -20px;
	    margin-left: -20px;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 9999;	   
	    position: absolute;

	    font-family: Arial;
	    font-size: 12px;
	    font-style: normal;  
        	    
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;	
		-webkit-transition-property:opacity, margin-top, visibility, margin-left;
	    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
		-moz-transition-property:opacity, margin-top, visibility, margin-left;
	    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -o-transition-property:opacity, margin-top, visibility, margin-left;
	    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    transition-property:opacity, margin-top, visibility, margin-left;
	    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
    
    /*a.tooltip > span:hover,*/
a.tooltip:hover > span#inswptipvideotitle
	{
		opacity: 1;
		text-decoration:none;
		visibility: visible;
		overflow: visible;
		margin-top:50%;
		display: inline;
		margin-left: 0px;		
}
    
a.tooltip > span#inswptipvideotitle {
	color: #FFFFFF;
	background: #000000;
	background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
	border: 1px solid #000000;	     
} 
/*tooltip no id*/
a.tooltip > span {
	    padding: 10px 20px;
	    margin-top: -20px;
	    margin-left: -20px;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 10;	   
	    position: absolute;

	    font-family: Arial;
	    font-size: 12px;
	    font-style: normal;  
        	    
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;	
		-webkit-transition-property:opacity, margin-top, visibility, margin-left;
	    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
		-moz-transition-property:opacity, margin-top, visibility, margin-left;
	    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -o-transition-property:opacity, margin-top, visibility, margin-left;
	    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    transition-property:opacity, margin-top, visibility, margin-left;
	    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
/*a.tooltip > span:hover,*/
a.tooltip:hover > span{
		opacity: 1;
		text-decoration:none;
		visibility: visible;
		overflow: visible;
		margin-top:20px;
		display: inline;
		margin-left: 0px;		
}
    
a.tooltip > span{
	   color: #FFFFFF;
	   background: #000000;
	   background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
	   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000));
	   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
	   border: 1px solid #000000;	     
    }     
#imgins {
	/*margin: 0 0 1.71429rem;*/
	margin: 0;
	padding: 0;
	line-height: 1.71429;
	position:relative;
	list-style-type:none;
}
.smallinswp#tbdef {
	background:#FBFBFB;
	border-style:solid;
	border-color:#D3D3D3;
	border-width:1px;
	float:left;
	list-style-type: none;
	-webkit-border-radius: 1px 1px;
    -moz-border-radius: 1px 1px;
	-o-border-radius: 1px 1px;
    border-radius: 1px 1px;
	position:relative;
	width:175px;
	display: inline;
	padding:0;
}
.smallinswp#tbdef:hover{ 
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
	-o-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0px 0px 8px #AAA;
    -webkit-box-shadow: 0px 0px 8px #AAA;
	-o-box-shadow: 0px 0px 8px #AAA;
    box-shadow: 0px 0px 8px #AAA;
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    -moz-transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
	position:relative;
}
.smallinswp img#immed {
   	width:150px;
	height:150px;
	position:relative;
}
.middleinswp#tbdef {
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	padding:0;
	width:220px;
	background:#FBFBFB;
	border-style:solid;
	border-color:#D3D3D3;
	border-width:1px;
	float:left;
	list-style-type: none;
	display: inline;
}
.middleinswp#tbdef:hover{
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0px 0px 8px #AAA;
    -webkit-box-shadow: 0px 0px 8px #AAA;
    box-shadow: 0px 0px 8px #AAA;
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    -moz-transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
}
.middleinswp img#immed{
   	width:90%;
	height:auto;
}
.largeinswp#tbdef {
	margin: 25px 0;
	width:100%;
	background:#FBFBFB;
	border-style:solid;
	border-color:#D3D3D3;
	border-width:1px;
	float:left;
	list-style-type: none;
	display: inline;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	padding:0;
}
.largeinswp#tbdef:hover{
	-webkit-border-radius: 1px 1px;
    -moz-border-radius: 1px 1px;
    border-radius: 1px 1px;
    -moz-box-shadow: 0px 0px 8px #AAA;
    -webkit-box-shadow: 0px 0px 8px #AAA;
    box-shadow: 0px 0px 8px #AAA;
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    -moz-transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
}
.largeinswp img#immed{
   	width:93%;
	height:auto;
	padding-top: 15px;
}
#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:48px; left:0;
	width:100%;
	background:#aaa;
	overflow:auto;
}
img#prmlike {
	border-radius: 0;
    box-shadow: 0 0;
	cursor:pointer;
}
#binswp {
	background:#1D3A7F;
	border: medium none;
	padding: 7px;
    color: #FFFFFF;
	font-size: 12px;
	-webkit-border-radius: 2px 2px;
    -moz-border-radius: 2px 2px;
    border-radius: 2px 2px;
	display: inline-block;
	border: 0;
	margin:2px 2px 0 0; 
}
#binswp:hover{
	color:#1D3A7F;
	background:#FFF;
	border: medium none;
	padding: 7px;
	-webkit-border-radius: 2px 2px;
    -moz-border-radius: 2px 2px;
    border-radius: 2px 2px;
	display: inline-block;
	border: 0;
	margin:2px 2px 0 0;
}
#binswp:active{
	color:#1D3A7F;
	background:#FFF;
	border: medium none;
	padding: 7px;
	-webkit-border-radius: 2px 2px;
    -moz-border-radius: 2px 2px;
    border-radius: 2px 2px;
	display: inline-block;
	border: 0;
	margin:2px 2px 0 0;
}
#comml {
	margin:-5px 0px 0px 0px;
}
#divimg {
  float:left;
  width:95%;
  height:150px;
  overflow:hidden;
}
#loginbutton {
	width:100%;
}
#munuconf {
	padding-left:10px;
	font-size: 12px;
}
#conffront {
	width:100%;
}
#imgprof {
	float:left;
}
#buttoncomm img{
	border-radius: 0;
    box-shadow: 0 0 0 0;
}
#buttonlinkto {
	border-radius: 0;
    box-shadow: 0 0 0 0;
}
#uinph img {
	border-radius: 0;
    box-shadow: 0 0 0 0;
	margin-left:2px;
}
#inswpimgzoom{
	width:100%;
	height:100%;
	border-radius: 0;
    box-shadow: 0 0 0 0;
}
#closedzoominswp{
	border-radius: 0;
    box-shadow: 0 0 0 0;
	cursor:pointer;
	z-index:9999999;
	position:absolute;
}
#infocom {
	width:40%;
}
#userlikes {
	overflow-y:hidden;
	margin:5px;
}
#zoomdetailinswp{
	width:50%;
	height:75%;
    left: 31%;
    margin-top: auto;
    margin-left: auto;
	overflow-y:hidden;
	display:none;
	overflow-x: hidden;
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    border-radius: 10px 10px;
    -moz-box-shadow: 0px 0px 15px #AAA;
    -webkit-box-shadow: 0px 0px 15px #AAA;
    box-shadow: 0px 0px 8px #AAA;
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    -moz-transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
	background-color:#E6E6E6;
	position: fixed;
	z-index:999999;
	max-width:500px;
}
#loadcont img {
	border-style:none;
	border-radius: 0;
	box-shadow: 0 0 0 0;
}
img#iconcm {
    border-radius: 0;
    box-shadow: 0 0;
}

#inspostsubmit {
	padding:5px;
	background:#1D3A7F;
	color:#fff;
	font-size:12px;
	-webkit-border-radius: 2px 2px;
    -moz-border-radius: 2px 2px;
    border-radius: 2px 2px;
	display: inline-block;
	border: 0;
	margin: 10px 30px;
}
#inspostsubmit:hover {
	padding:5px;
	background:#fff;
	color:#1D3A7F;
	font-size:12px;
	-webkit-border-radius: 2px 2px;
    -moz-border-radius: 2px 2px;
    border-radius: 2px 2px;
	display: inline-block;
	border: 0;
	margin: 10px 30px;
}
/*button, input, textarea {
	border:0;
	-webkit-border-radius: 2px 2px;
    -moz-border-radius: 2px 2px;
    border-radius: 2px 2px;
	padding: 0;
}*/
#listmedia {
	position:relative;
}
#listmedia img {
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 0;
    cursor: pointer;
    padding: 10px 0 0;
}
#loadinggif img{
	border-radius: 0;
    box-shadow: 0 0 0 0;
}
#ctdiv {
	width:100%;
	position:relative;
	display:inline-block;
}
.activeall {
	padding:10px 0 0 0;
}
@media only screen and (max-device-width:  800px) { 
fieldset {
	background:#333;
	margin-bottom:10px; 
	width:100%;
}
dt {
	width:100%;
}
dt#titleconfinswp {
	float:left;
	width:100%;
}
#divimg {
    width:93%;
}
#fnbio {
	margin: 50px 0 0 0;
}
#zoomdetailinswp{
	width:97%;
	height:auto; 
	margin-right:auto;
	margin-left:auto;
	overflow-y:hidden;
	display:none;
	overflow-x: hidden;
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    border-radius: 10px 10px;
    -moz-box-shadow: 0px 0px 15px #AAA;
    -webkit-box-shadow: 0px 0px 15px #AAA;
    box-shadow: 0px 0px 8px #AAA;
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    -moz-transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
	position: fixed;
	background-color:#E6E6E6;
	left:2%;
	z-index:999999;
	}
	#inswpimgzoom{
	width:100%;
	height:auto;
	border-radius: 0;
    box-shadow: 0 0 0 0;
	position: relative;
}
	#bmff {
    float: left;
	margin:5px 3px 0 0;
    }
	img#bprof {
	width:35px;
	height:35px;
    float: left;
    }
}
